html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  
}
body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 3rem 3rem 3rem;
}

.inputBox {
  display: grid;
  min-height: 600px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 3rem;
  border: 2px dashed white;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(55, 80, 132);
  
}

.matrixInput {
  display: grid;
  padding: 10px;
  grid-template-columns: 3rem 3rem 3rem;
  grid-template-rows: 3rem 3rem 3rem;
}

.rotateSlider {
  padding-bottom: 20px;
}
.rotateInput {
  display: grid;
  color: aliceblue;
}
canvas {
  display: block;
  border: 2px dashed white;
  margin: auto;
}
