html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  
}
body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 15rem;
}

.inputBox {
  display: grid;
  min-height: 250px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 3rem;
  border: 2px dashed white;
  border-radius: 10px;
  margin: 5px;
}

input[type=range] {
  cursor: grab;
}
.matrixInput {
  display: grid;
  padding: 10px;
  grid-template-columns: 3rem 3rem 3rem;
  grid-template-rows: 3rem 3rem 3rem;
}

.mInput {
  background: none;
  color: aliceblue;
  border-color: aliceblue;
  border: 1px solid;
}
.rotateSlider {
  padding-bottom: 20px;
}
.rotateInput {
  display: grid;
  color: aliceblue;
}
canvas {
  display: block;
  border: 2px dashed white;
  margin: auto;
  border-radius: 10px;
}
